.flex-container{
    display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-around;
        justify-content:space-around;
        -webkit-align-items:center;
        align-items:center;
        -webkit-align-content:center;
        align-content:center;


    &--1 {
       
    }
    
    &--2 {

       
    }
    
    &--3 {
       
        
    }
    &--4 {
      
        
    }

    }

    .flex-item {
        padding: 2% 2rem;
        margin: 1rem 1.4rem;
        height: 40rem;
        text-align: center;
        width: 25vw;
        top: 50%;
        
    }