

.mainFooter {
  
    background-color: rgba($gold, .75);
    width: 100%;
    
    &__logo {
      animation: moveInLeft 1s ease-in-out;
      padding: 1rem 2rem;
      text-align: center;

      @include respond(phone) {

        padding: 1rem .7rem;
        
      }
  
      img {

        width: 30rem;
        @include respond(phone-small) {

        width: 25rem;
        }

      }
  }

    &__container {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem 1rem;

        &__item {
      //    background-color: aqua;
          margin: 0 1rem;
          padding: 0 1rem;
       

         
        //First item
          &--nav-list {
            animation: fadeIn 2s ease;
            text-align: center;
            list-style: none;
           
            @include respond(phone) {
              margin: 2rem 5rem 2rem 2rem;
              
            }
            @include respond(phone-small) {
              margin: 1rem;
             
            }
            li {
             
              display: inline-block;
              margin: 0 3.5rem;
              // border-bottom: 3px solid $color-white;

            @include respond(tab-land) {
              margin: 0 2rem;
              
            }
            @include respond(phone) {
              margin: 1.5rem;
              border-bottom: 2px dotted $color-white;
              display: block;
             min-width: 17rem;
            }
          
        
            }
        
            a {
              text-align: justify;
              text-decoration: none;
              font-size: 2rem;
              transition: all .2s;
       
        
              &,
              &:link,
              &:visited {
                color: $color-grey-dark-2;
              }
        
              &:hover {
                color: $color-white;
              }
            }
          }

          
      // second item
          &--nav-links {
            animation: moveInRight 1s ease-in-out;
            font-size: 2rem;
            text-align: center;
            list-style: none;

           @include respond(phone) {

            margin-bottom: 15rem;
           }
            li {
      
              display: inline-block;
              margin: 2rem 3rem;
              // border-bottom: 3px solid $color-white;
        
            }
        
            a {
              text-decoration: none;
              font-size: 2rem;
              transition: all .2s;
        
              &,
              &:link,
              &:visited {
                color: $color-grey-dark-2;
              }
        
              &:hover {
                color: $color-white;
              }
            }
          }
        }
      }
  

&__origin {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 1rem;


    @include respond(phone) {

      padding: .5rem;
    }
    }
}

#phone {
  width: 2rem;
}

#fb {

  width: 2rem;

  
}

