

.mainFooter {
  
    background-color: rgba($gold, .75);
    width: 100%;
    
    &__logo {
      animation: moveInLeft 1s ease-in-out;
      padding: 1rem 2rem;
      text-align: center;

      
  
  }

    &__container {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem 2rem;

        &__item {
      //    background-color: aqua;
          margin: 0 1rem;
          padding: 0 1rem;


         
        //First item
          &--nav-list {
            animation: fadeIn 2s ease;
            text-align: center;
            list-style: none;
      
            li {
      
              display: inline-block;
              margin: 0 3rem;
              // border-bottom: 3px solid $color-white;

            
        
            }
        
            a {
              text-decoration: none;
              font-size: 2rem;
              transition: all .2s;
        
              &,
              &:link,
              &:visited {
                color: $color-grey-dark-2;
              }
        
              &:hover {
                color: $color-white;
              }
            }
          }

          
      // second item
          &--nav-links {
            animation: moveInRight 1s ease-in-out;
            font-size: 2rem;
            text-align: center;
            list-style: none;

           
            li {
      
              display: inline-block;
              margin: 0 3rem;
              // border-bottom: 3px solid $color-white;
        
            }
        
            a {
              text-decoration: none;
              font-size: 2rem;
              transition: all .2s;
        
              &,
              &:link,
              &:visited {
                color: $color-grey-dark-2;
              }
        
              &:hover {
                color: $color-white;
              }
            }
          }
        }
      }
  

&__origin {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 1rem;

    }
}

#phone {
  width: 2rem;
}

#fb {

  width: 2rem;

  
}

