.head {
    
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    background-color: rgba(#fff, .7);
    padding: 2rem 2rem 1rem 4rem;
    z-index: 100;

    &__logo {
        animation-name: moveInLogo;
        animation-duration: 1.6s;
        animation-timing-function: ease-out;
        
        img {
            height: 8rem;

            
            @include respond(tab-land) {
                height: 6rem;

            }
            @include respond(phone) {
                height: 4rem;

            }
           
           
        }
        
    }

    &__nav {

        text-align: center;
        
        &--list {
          
           animation:focus-in-expand 1.3s cubic-bezier(.25,.46,.45,.94) both;
            list-style: none;
            cursor: pointer;
            margin: 0;
            padding: 0;

          
           
            & > li {
                font-size: 2.2rem;
                float: left;
                width: 14rem;
                height: 6rem;
                margin: 1rem .3rem 0;

                @include respond(tab-land) {
                    width: 11rem;
                    
                }

                @include respond(phone) {
                    width: 8rem;
                    display: block;
                }
               

                &:first-child {
                  
                }
            }

            a {
                opacity: 1;
                display: block;
                text-decoration: none;
                

                &,
                &:link,
                &:visited {
                    color: $gold;
                }

                &:hover {
                    color: $color-grey-dark-2;
                    
                }
            }

        & ul {
           
        }
        &:hover ul {
            

        }

           & > li > ul {
            max-height: 0;
            transition: max-height .25s ease-out;
            overflow: hidden;
            list-style: none;
            padding: 0;
            margin: 0 ;
            margin-left: -.5rem;
            margin-top: .2rem;
            width: 16rem;
            background-color: rgba(#fff, .6);
              
               
           }

           & > li:hover > ul {
            max-height: 500px;
            transition: max-height .6s ease-in;
               display: block;
        }

     

           & > li > ul > li {
             //   background-color: rgba(#fff, 1);
                position: relative;
                z-index: 100;
                border-top: 1px dashed $gold; 
              
            
                
           }

           

           & > li > ul > li:first-child {
                
               border: none;
               
          }

           & > li > ul > li > a {
                
            //   background-color: rgba(#fff, 1);
           
            
               opacity: 1;
               
          }
        }
    }

    ul {
    }
}

