.head {
    
   position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 0;
    background-color: rgba(#fff, .5);
    padding: 2rem 2rem 1rem 4rem;
    z-index: 100;

    @include respond(phone) {
      flex-direction: column;
   // display: inline-block;
       padding: 2rem 0 1rem;
       background-color: rgba(#fff, .3);
       height: 200px;
    }

    &__logo {
        animation-name: moveInLogo;
        animation-duration: 1.6s;
        animation-timing-function: ease-out;
        
        img {
            height: 8rem;

            
            @include respond(tab-land) {
                height: 6rem;

            }
            @include respond(tab-port) {
              height: 5rem;

          }
            @include respond(phone) {
                height: 4rem;
              margin-left: 3rem;
            }
           
           
        }
      
    }

    &__nav {

        text-align: center;
        opacity: 1;
        @include respond(tab-small) {
          opacity: 1;
        }
        @include respond(phone) {

          margin-top: .8rem;
          margin-left: 40rem;
           opacity: 0;
            display: block; 
            text-align: center;
            width: 12%;
            background-color: rgba(#fff, .9);
           }

        @include respond(phone-small) {
         
          margin-left: 30rem;
       
        }
        
        &--list {
           animation:focus-in-expand 2s cubic-bezier(.25,.46,.45,.94) both;
            list-style: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            margin-right: 2rem;

            @include respond(phone) {
           
         // margin-left: 10rem;
           }
          
         
           
            
            & > li {
           
                font-size: 2.2rem;
                float: left;
                width: 13.5rem;
                height: 6rem;
                margin: 1rem .3rem 0;
              
                @include respond(tab-land) {
                    width: 10rem;
                    
                }
                

                @include respond(tab-port) {

                  margin: 1rem .1rem 0;
                }

               
                @include respond(phone) {
                  border-bottom: 1px dashed $gold; 
                    width: 8rem;
                    height: 4rem;
                    margin: 0 .8rem;


                    &:last-child {
                        border-bottom: none;
                    }
                }
                @include respond(phone-small) {
                  margin: 0 .2rem;
              }

              
            }

            a {
                opacity: 1;
                display: block;
                text-decoration: none;
                
              @include respond(phone-small) {

                font-size: 90%;
              }

                &,
                &:link,
                &:visited {
                    color: $gold;
                }

                &:hover {
                    color: $color-grey-dark-2;
                    
                }
            }

       

           & > li > ul {
            max-height: 0;
            transition: max-height .25s ease-out;
            overflow: hidden;
            list-style: none;
            padding: 0;
            margin: 0 ;
            margin-left: -.5rem;
            margin-top: .2rem;
            width: 16rem;
            background-color: rgba(#fff, .9);
              
               
           }

           & > li:hover > ul {
            max-height: 500px;
            transition: max-height .6s ease-in;
               display: block;
        }

        

           & > li > ul > li {
             //   background-color: rgba(#fff, 1);
                position: relative;
                z-index: 100;
                border-top: 1px dashed $gold; 
              
  
           }

           

           & > li > ul > li:first-child {
                
               border: none;
               
          }

           & > li > ul > li > a {
                
            //   background-color: rgba(#fff, 1);
           
            
               opacity: 1;
               
          }
        }
    }

    &NavIcon {

        width: 0rem;
       
        background-color: $gold;
        opacity: 0;
        

        @include respond(phone) {
          width: 55rem;
            opacity: 1;
            margin: auto;
        }
        @include respond(phone-small) {
          width: 40rem;
            opacity: 1;
        }
    }

    &Menu {

      
       
        
        cursor: pointer;
        background-color: transparent;
        border: 0;
      margin-left: 45rem;
        position: -webkit-sticky;
        position: sticky;
       
       @include respond(phone) {

        opacity: 1;
       }

       @include respond(phone-small) {

        margin-left: 32rem;
       }
        
      }
      
      &Menu, .treatments__navigation {
        transition: transform .3s .1s ease-in-out;
      }
    
      &Menu, .pricelist__navigation {
        transition: transform .3s .1s ease-in-out;
      }
      
      &Menu--active {
        transform: translatex(17rem);
    
        @include respond(phone) {
    
          transform: translatex(0);
        }
      }
      
      &Menu__box {

       
       // width: 3.5rem;
       // height: 2.4rem;
        display: inline-block;
        position: relative;
    
    
        @include respond(phone) {
    
          width: 4rem;
          height: 2.4rem;
          background-color: $gold;
          border-radius: .4rem;
          padding: .2rem;
          border: 1px solid $gold;
        }
        
      }
    
      &Menu__inner {
        @include hamburger-line;
        
        left: 0;
        top: 50%;
        transform: translateY(-40%);
        transition: background-color .1s .2s ease-in-out;
    
        @include respond(phone) {
    
          width: 85%;
          left: 5%;
        }
    
      }
      
      &Menu__inner::before,
      &Menu__inner::after {
        @include hamburger-line;
        
        content: '';
        left: 0;
        transition: transform .2s .2s ease-in-out;
      } 
      
      &Menu__inner::before {
        top: -1rem;
      }
      
      &Menu__inner::after {
        top: 1rem;
      }
      
      &Menu--active &Menu__inner {
        background-color: transparent;
      }
      
      &Menu--active &Menu__inner:before {
        transform: translateY(1rem) rotate(45deg);
      }
      
      &Menu--active &Menu__inner:after {
        transform: translateY(-1rem) rotate(-45deg);
      }
 
}

.sign {


    background-color: $gold;
    width: 3rem;
    height: 1rem;
    margin: 60%;
    
    display: none;
    z-index: 9999;

    @include respond(phone) {

        display: block;
    }
}

#listTreatments {

   margin-left: -2rem;

  @include respond(phone) {
    margin-left: -17rem;
    margin-top:-3rem;
    opacity: 0;

  }

}

#listPackets {

  margin-left: -2rem;

  @include respond(phone) {
    margin-left: -17rem;
    margin-top:-3rem;
    opacity: 0;

  }
}