.pricelist {
    
    font-size: 1.5rem;
    margin: 10rem 0 0;
    padding: 2rem 2rem;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.95) 0%, rgba(252, 251, 250, 0.95) 100%), url(../img/background-images/decorative-1298149_1280.png);
    background-size: cover;

    &__header {
        animation: moveInRight 1.4s ease;
        color: $gold;
        font-size: 2.7rem;
    }

    a {
        text-decoration: none;
        color: $gold;
        font-size: 2rem;
    }

    &__mainHeader {

        text-align: center;
        color: $gold;
        font-size: 3rem;


        &::after {

            display: block;
            height: 3px;
            background-color: $gold;
            content: "";
            width: 10%;
            margin: 0 auto;
            margin-top: 1rem;
        }
    }

   
    &__navigation {
        background-color: rgba($color-white, 0.8);
        width: 20rem;
        position: absolute;
        z-index: 1;
        top: 22%;
        left: 0;
        transform: translateX(-210px);
        -webkit-transform: translateX(-210px);
        -moz-transform: translateX(-210px);
        -ms-transform: translateX(-210px);
        -o-transform: translateX(-210px);
        transition: transform .3s .1s ease-in-out;
        -webkit-transition: transform .3s .1s ease-in-out;
        -moz-transition: transform .3s .1s ease-in-out;
        -ms-transition: transform .3s .1s ease-in-out;
        -o-transition: transform .3s .1s ease-in-out;
    
        &--active {
            transform: translateX(0rem);
            -webkit-transform: translateX(0rem);
            -moz-transform: translateX(0rem);
            -ms-transform: translateX(0rem);
            -o-transform: translateX(0rem);
           
        }
        
        &--list {
            margin-top: 4.5rem;
            list-style: none;
        
        }
        
        li {
            margin: 1rem;
            text-align: center;
    
            &:not(:last-child) {
              border-bottom: 1px solid $gold;
              width: 90%;
            }

       

        }    
        a {
            text-decoration: none;
            color: $gold;
            font-size: 2.2rem;
        
            &:hover {
    
              color: $color-grey-dark-2;
            }
            }
        }
    
    }  

    .pricelist--2 {
    
        font-size: 1.5rem;
        margin: 1rem 0 0;
        padding: 2rem 2rem;
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0.95) 0%, rgba(252, 251, 250, 0.95) 100%), url(../img/background-images/decorative-1298149_1280.png);
        background-size: cover;
    
        &__header {
            animation: moveInRight 1.4s ease;
            color: $gold;
            font-size: 2.7rem;
        }
    
        a {
            text-decoration: none;
            color: $gold;
            font-size: 2rem;
        }
    
        &__mainHeader {
    
            text-align: center;
            color: $gold;
            font-size: 3rem;
    
    
            &::after {
    
                display: block;
                height: 3px;
                background-color: $gold;
                content: "";
                width: 10%;
                margin: 0 auto;
                margin-top: 1rem;
            }
        }
    
       
        &__navigation {
            background-color: rgba($color-white, 0.8);
            width: 20rem;
            position: absolute;
            z-index: 1;
            top: 22%;
            left: 0;
            transform: translateX(-210px);
            -webkit-transform: translateX(-210px);
            -moz-transform: translateX(-210px);
            -ms-transform: translateX(-210px);
            -o-transform: translateX(-210px);
            transition: transform .3s .1s ease-in-out;
            -webkit-transition: transform .3s .1s ease-in-out;
            -moz-transition: transform .3s .1s ease-in-out;
            -ms-transition: transform .3s .1s ease-in-out;
            -o-transition: transform .3s .1s ease-in-out;
        
            &--active {
                transform: translateX(0rem);
                -webkit-transform: translateX(0rem);
                -moz-transform: translateX(0rem);
                -ms-transform: translateX(0rem);
                -o-transform: translateX(0rem);
               
            }
            
            &--list {
                margin-top: 4.5rem;
                list-style: none;
            
            }
            
            li {
                margin: 1rem;
                text-align: center;
        
                &:not(:last-child) {
                  border-bottom: 1px solid $gold;
                  width: 90%;
                }
    
           
    
            }    
            a {
                text-decoration: none;
                color: $gold;
                font-size: 2.2rem;
            
                &:hover {
        
                  color: $color-grey-dark-2;
                }
                }
            }
        
        }  

.pricelistContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 3rem 0 5rem;
    text-align: center;


 

    &__sidenav {

        width: 31%;
        background-color: aquamarine;

       

    }

    &__pricelist {
        width: 100%;
        height: 100%;
        margin: 0 1.5rem;
        padding: 1rem;

    
    }

   


}

.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

   
}
.price--list {
    animation: moveInBottom 1.3s ease-out;
    margin: 2rem 1rem;
    padding: 2rem 0;
    list-style: none;
    

    li {
       padding: 1rem 1rem 1rem 0rem;
       border-bottom: 1px solid $gold;
       
       & strong {
       
            
            word-spacing: -1.5px;
            
            
      

       }

       
    }


    &--2 {
        font-size: 1rem;
        text-align: center;

    }
}

.massage .price--list {
    margin: 2rem 0rem;
    
    li {
        padding: 1rem 0 1rem 0;
        border-bottom: 1px solid $gold;
        
        @include respond(phone) {

            border-bottom: none;
            
        }
        & strong {
        
             word-spacing: -1.5px;
             
        }
      

}
}



.massage .price {
    
  
    text-align: right;
    margin-right: -2rem;
   
    @include respond(phone) {
        height: auto;
        
    }
}