
.hamburgerNavIcon {
  
  position: absolute;
  left: 4rem;
  margin-top: 7.5rem;
  animation: moveInBottom 1s ease-in;
  background-color: blue($color: #000000);

  @include respond(phone) {

    left: 85%;
    margin-top: 6.5rem;
  }

}

.hamburger {
 
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    
    position: -webkit-sticky;
    position: sticky;
   
   
    
  }
  
  .hamburger, .treatments__navigation {
    transition: transform .3s .1s ease-in-out;
  }

  .hamburger, .pricelist__navigation {
    transition: transform .3s .1s ease-in-out;
  }
  
  .hamburger--active {
    transform: translatex(17rem);

    @include respond(phone) {

      transform: translatex(0);
    }
  }
  
  .hamburger__box {
    width: 3.5rem;
    height: 2.4rem;
    display: inline-block;
    position: relative;


    @include respond(phone) {

      width: 4rem;
      height: 2.4rem;
      background-color: $gold;
      border-radius: .4rem;
      padding: .2rem;
      border: 1px solid $gold;
    }
    
  }

  .hamburger__inner {
    @include hamburger-line;
    
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    transition: background-color .1s .2s ease-in-out;

    @include respond(phone) {

      width: 85%;
      left: 5%;
    }

  }
  
  .hamburger__inner::before,
  .hamburger__inner::after {
    @include hamburger-line;
    
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
  } 
  
  .hamburger__inner::before {
    top: -1rem;
  }
  
  .hamburger__inner::after {
    top: 1rem;
  }
  
  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  
  .hamburger--active .hamburger__inner:before {
    transform: translateY(1rem) rotate(45deg);
  }
  
  .hamburger--active .hamburger__inner:after {
    transform: translateY(-1rem) rotate(-45deg);
  }


     