.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }
  
  .hamburger, .navigation {
    transition: transform .3s .1s ease-in-out;
  }
  
  .hamburger--active {
    transform: translatex(140px);
  }
  
  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger__inner {
    @include hamburger-line;
    
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    transition: background-color .1s .2s ease-in-out;
  }
  
  .hamburger__inner::before,
  .hamburger__inner::after {
    @include hamburger-line;
    
    content: '';
    left: 0;
    transition: transform .2s .2s ease-in-out;
  } 
  
  .hamburger__inner::before {
    top: -10px;
  }
  
  .hamburger__inner::after {
    top: 10px;
  }
  
  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  
  .hamburger--active .hamburger__inner:before {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger--active .hamburger__inner:after {
    transform: translateY(-10px) rotate(-45deg);
  }


  .navigation {
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateX(-190px);
    -webkit-transform: translateX(-190px);
    -moz-transform: translateX(-190px);
    -ms-transform: translateX(-190px);
    -o-transform: translateX(-190px);
    transition: transform .3s .1s ease-in-out;
    -webkit-transition: transform .3s .1s ease-in-out;
    -moz-transition: transform .3s .1s ease-in-out;
    -ms-transition: transform .3s .1s ease-in-out;
    -o-transition: transform .3s .1s ease-in-out;

    &--active {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
    
    &__lists {
        margin-top: 50px;
        list-style: none;
       
    
    }
    
    &__item {
        margin-bottom: 20px;
    
    a {
        text-decoration: none;
        color: $gold;
    
        }
    }

}     