.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;

    &__side {
        height: 40rem;
        transition: all 1.1s ease;
        -webkit-transition: all 1.1s ease;
        -moz-transition: all 1.1s ease;
        -ms-transition: all 1.1s ease;
        -o-transition: all 1.1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($gold, .15);
        border-radius: 55px;

        &--front {

            background-color: $second_gold;
            background-image: url(./img/offers-images/alan-caishan-cU53ZFBr3lk-unsplash.jpg);
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $gold, $color-white);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 18rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);    
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        
        &--1 {
            
            background-image: url(./resources/img/offers-images/massageimage.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), 
            url(resources/img/offers-images/nat-5.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), 
            url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        position: absolute;
        top: 11rem;
        width: 100%;
    
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba(#EAAC75, .85), 
            rgba($gold, .85));
        }

        &--2 {
            
            background-image: linear-gradient(to right bottom, 
            rgba(rgb(236, 178, 127), .85), 
            rgba($gold, .85));
        }

        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light, .85), 
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 0 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: .4rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }

        &--back {
            margin-bottom: 2rem;

        }
    }

    

    // FRONT SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 1rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 5rem;
        font-weight: 100;
    }
}