

.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side {
        height: 100%;
        transition: all 1.1s ease;
        -webkit-transition: all 1.1s ease;
        -moz-transition: all 1.1s ease;
        -ms-transition: all 1.1s ease;
        -o-transition: all 1.1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($gold, .15);
        border-radius: 55px;
       

        &--picture {
            background-size: cover;
            height: 26rem;
            background-blend-mode: screen;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            animation: fadeIn 1.5s ease-in-out;

          @include respond(tab-small) {

            height: 0;
          }
            
            &--1 {
               
                background-image: linear-gradient(to right bottom, rgba($black, .9), rgba($color-white, .7)), url(../img/offers-images/massageimage.jpg);
                background-position: center;
                background-size: cover;
            }
    
            &--2 {
                background-image: linear-gradient(to right bottom, rgba($black, 1), rgba($gold, 1)), url(../img/offers-images/makeupimage.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--3 {
                background-image: linear-gradient(to right bottom, rgba($black, .9), rgba($color-white, .7)),url(../img/offers-images/laser-treatments.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--4 {
                background-image: linear-gradient(to right bottom, rgba($color-white, .9), rgba($black, .4)), url(../img/offers-images/Cosmetic-spa-copy.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--5 {
                background-image: linear-gradient(to right bottom, rgba($gold, .9), rgba($color-white, .5)), url(../img/offers-images/depilation.jpg) ;
                background-size: cover;
                background-position: center;
            }
             &--6 {
                background-image: linear-gradient(to right bottom, rgba($color-white, .9), rgba($gold, .2)), url(../img/offers-images/massageimage-2.jpg);
                background-size: cover;
                background-position: center;
            }
            &--7 {
               
                background-image: linear-gradient(to right bottom, rgba($black, .9), rgba($color-white, .7)), url(../img/offers-images/cutera-xeo-laser-treatments-bend-or.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--8 {
                background-image: linear-gradient(to right bottom, rgba($black, 1), rgba($gold, 1)), url(../img/offers-images/pexels-photo-939835.jpeg);
                background-size: cover;
                background-position: center;
            }
    
            &--9 {
                background-image: linear-gradient(to right bottom, rgba($black, .9), rgba($color-white, .7)),url(../img/offers-images/gettyimages-1074197972-612x612.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--10 {
                background-image: linear-gradient(to right bottom, rgba($color-white, .9), rgba($black, .4)), url(../img/offers-images/gettyimages-1171696694-612x612.jpg);
                background-size: cover;
                background-position: center;
            }
    
            &--11 {
                background-image: linear-gradient(to right bottom, rgba($gold, .9), rgba($color-white, .5)), url(../img/offers-images/woman-660806_1920-copy.jpg) ;
                background-size: cover;
                background-position: center;
    
            }
             &--12 {
                background-image: linear-gradient(to right bottom, rgba($color-white, .9), rgba($gold, .2)), url(../img/offers-images/SPA-copy.jpg);
                background-size: cover;
                background-position: center;
    
            }
        }

        &--front {
            
            background-color: $gold;
            background-image: url(./img/offers-images/alan-caishan-cU53ZFBr3lk-unsplash.jpg);

        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to right bottom, $gold-darker, $color-white);

            }

            &--2 {
                background-image: linear-gradient(to right bottom, $color-white, $gold-darker);

            }

            &--3 {
                background-image: linear-gradient(to right bottom, $color-white, $gold-darker);

            }

            &--4 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }

            &--5 {
                background-image: linear-gradient(to right bottom, $gold, $color-white);

            }

            &--6 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--7 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--8 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--9 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--10 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--11 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
            &--12 {
                background-image: linear-gradient(to right bottom, $color-white, $gold);

            }
        }
      
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0);

    }

    // FRONT SIDE STYLING

   

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: $color-white;
        position: absolute;
        top: 80%;
        width: 100%;

        &--span {
            padding: 1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            
            &--1 {
                background-image: linear-gradient(to right bottom, rgba(rgb(248, 190, 138), .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--2 {
             background-image: linear-gradient(to right bottom, rgba(rgb(236, 178, 127), .85), rgba($gold, .6));
             animation: fadeIn 2s ease-in-out;
            }
    
            &--3 {
                animation: fadeIn 2s ease-in-out;
                background-image: linear-gradient(to right bottom,rgba(#EAAC75, .85), rgba($gold, .6));
            }
    
            &--4 {
                background-image: linear-gradient(to right bottom, rgba(rgb(236, 178, 127), .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--5 {
                background-image: linear-gradient(to right bottom, rgba(#EAAC75, .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--6 {
                background-image: linear-gradient(to right bottom, rgba(rgb(247, 193, 146), .85), rgba($gold, .85));
                animation: fadeIn 2s ease-in-out;
            }

            &--7 {
                background-image: linear-gradient(to right bottom, rgba(rgb(248, 190, 138), .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--8 {
             background-image: linear-gradient(to right bottom, rgba(rgb(236, 178, 127), .85), rgba($gold, .6));
             animation: fadeIn 2s ease-in-out;
            }
    
            &--9 {
    
                background-image: linear-gradient(to right bottom,rgba(#EAAC75, .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--10 {
                background-image: linear-gradient(to right bottom, rgba(rgb(236, 178, 127), .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--11 {
                background-image: linear-gradient(to right bottom, rgba(#EAAC75, .85), rgba($gold, .6));
                animation: fadeIn 2s ease-in-out;
            }
    
            &--12 {
                background-image: linear-gradient(to right bottom, rgba(rgb(247, 193, 146), .85), rgba($gold, .85));
                animation: fadeIn 2s ease-in-out;
            }
        }

    }

   

    &__details {
        padding: .8rem 2rem 0;
        text-align: center;
        ul {
            list-style: none;
            width: 110%;
            margin: 0 auto;

            &--text {

                display: inline;
            
            
                @include respond(tab-land) {
            
                    display: none;
                }
            }

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: .3rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;

                }
            }
        }

        &--back {
            margin-bottom: 2rem;
            
        }
    }

    // FRONT SIDE STYLING

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;

    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 1rem;
       
       
        &--price {
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        
    
        &--price-value {
            font-size: 5rem;
            font-weight: 100;


            @include respond(tab-port) {

                font-size: 3rem;
            }
    
        }
    }
   
   
}

