/*GRID*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.offer__center-text {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--gold {
  background-color: rgba(123, 69, 21, 0.493);
  color: #302c24;
  border: 0.5px solid #fff; }
  .btn--gold::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.offer__flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center; }

.offer__flex-item {
  padding: 2% 2rem;
  margin: 1rem 1.4rem;
  height: 40rem;
  text-align: center;
  width: 25vw;
  top: 50%; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 41rem;
    transition: all 1.1s ease;
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(173, 155, 109, 0.15);
    border-radius: 55px; }
    .card__side--front {
      background-color: #ad9b6d;
      background-image: url(./img/offers-images/alan-caishan-cU53ZFBr3lk-unsplash.jpg); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #88784d, #fff); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back-4 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
      .card__side--back-5 {
        background-image: linear-gradient(to right bottom, #ad9b6d, #fff); }
      .card__side--back-6 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card--picture {
    background-size: cover;
    height: 32rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card--picture--1 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/massageimage.jpg); }
    .card--picture--2 {
      background-image: linear-gradient(to right bottom, black, #ad9b6d), url(../img/offers-images/makeupimage.jpg); }
    .card--picture--3 {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/laser-treatments.jpg); }
    .card--picture--4 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.4)), url(../img/offers-images/Cosmetic-spa.jpg); }
    .card--picture--5 {
      background-image: linear-gradient(to right bottom, rgba(173, 155, 109, 0.9), rgba(255, 255, 255, 0.5)), url(../img/offers-images/depilation.jpg); }
    .card--picture--6 {
      background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(173, 155, 109, 0.2)), url(../img/offers-images/massageimage-2.jpg); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 80%;
    width: 100%; }
  .card--heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card--heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(248, 190, 138, 0.85), rgba(173, 155, 109, 0.6)); }
    .card--heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
    .card--heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
    .card--heading-span--4 {
      background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
    .card--heading-span--5 {
      background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
    .card--heading-span--6 {
      background-image: linear-gradient(to right bottom, rgba(247, 193, 146, 0.85), rgba(173, 155, 109, 0.85)); }
  .card__details {
    padding: 0 2rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .4rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card__details--back {
      margin-bottom: 2rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem; }
    .card__price-box--price {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .card__price-box--price-value {
      font-size: 5rem;
      font-weight: 100; }

.home {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 18%, rgba(252, 251, 250, 0.7) 10%, rgba(245, 243, 243, 0.9) 5%, rgba(237, 237, 237, 0.4) 12%, rgba(236, 234, 234, 0.17) 7%, rgba(235, 232, 232, 0.17) 100%), url(../img/attractive-beautiful-beauty-638700-cut-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin-bottom: 5rem; }
  .home__primary {
    font-size: 5rem;
    text-align: center;
    color: #ad9b6d;
    margin-bottom: 1.5rem;
    background-color: beige; }
  .home__tertiary {
    text-align: center;
    color: #302c24;
    margin-bottom: 1rem; }

.hero {
  position: relative;
  width: min-content;
  width: 95%;
  height: min-content;
  top: 5%;
  left: 5%; }
  .hero:after {
    display: block;
    height: .7px;
    background-color: #ad9b6d;
    content: "";
    width: 90%;
    margin: 1% auto;
    margin-top: 2rem; }
  .hero__logo {
    height: min-content;
    display: inline-block; }
    .hero__logo img {
      height: 8rem; }
  .hero__nav {
    display: inline-block;
    float: right;
    text-align: right;
    margin: 5rem 4rem; }
    .hero__nav--list {
      list-style: none;
      cursor: pointer; }
      .hero__nav--list li {
        display: inline-block;
        margin-bottom: 2rem; }
      .hero__nav--list a {
        margin-right: 4rem;
        text-decoration: none;
        font-size: 2rem;
        transition: all .2s; }
        .hero__nav--list a, .hero__nav--list a:link, .hero__nav--list a:visited {
          color: #ad9b6d; }
        .hero__nav--list a:hover {
          color: #555; }

.down__nav {
  margin: 77vh 0;
  background-color: rgba(173, 155, 109, 0.75);
  width: min-content;
  width: 100%;
  text-align: center;
  height: 11rem; }
  .down__nav--list {
    list-style: none; }
    .down__nav--list li {
      display: inline-block;
      margin: 0 9rem;
      text-align: justify; }
    .down__nav--list a {
      text-decoration: none;
      font-size: 2rem;
      transition: all .2s; }
      .down__nav--list a, .down__nav--list a:link, .down__nav--list a:visited {
        color: #555; }
      .down__nav--list a:hover {
        color: #fff; }

.section-offer {
  min-height: 100vh;
  padding: 1rem 0 1rem 0; }

.offer--header {
  font-weight: 700;
  font-size: 4rem;
  color: #ad9b6d;
  text-transform: uppercase;
  margin-bottom: 1rem; }
  .offer--header:after {
    display: block;
    height: 3px;
    background-color: #e8be63;
    content: "";
    width: 25%;
    margin: 0 auto;
    margin-top: .5rem; }
