/*GRID*/
@keyframes fade {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.offer__center-text {
  text-align: center; }

.border_radius {
  border-radius: 2rem;
  border: 1px solid #ad9b6d; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--gold {
  background-color: rgba(123, 69, 21, 0.493);
  color: #302c24;
  border: 0.5px solid #fff; }
  .btn--gold::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 41rem;
    transition: all 1.1s ease;
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(173, 155, 109, 0.15);
    border-radius: 55px; }
    .card__side--picture {
      background-size: cover;
      height: 32rem;
      background-blend-mode: screen;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .card__side--picture--1 {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/massageimage.jpg); }
      .card__side--picture--2 {
        background-image: linear-gradient(to right bottom, black, #ad9b6d), url(../img/offers-images/makeupimage.jpg); }
      .card__side--picture--3 {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/laser-treatments.jpg); }
      .card__side--picture--4 {
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.4)), url(../img/offers-images/Cosmetic-spa.jpg); }
      .card__side--picture--5 {
        background-image: linear-gradient(to right bottom, rgba(173, 155, 109, 0.9), rgba(255, 255, 255, 0.5)), url(../img/offers-images/depilation.jpg); }
      .card__side--picture--6 {
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(173, 155, 109, 0.2)), url(../img/offers-images/massageimage-2.jpg); }
    .card__side--front {
      background-color: #ad9b6d;
      background-image: url(./img/offers-images/alan-caishan-cU53ZFBr3lk-unsplash.jpg); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #88784d, #fff); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back--4 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
      .card__side--back--5 {
        background-image: linear-gradient(to right bottom, #ad9b6d, #fff); }
      .card__side--back--6 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 80%;
    width: 100%; }
    .card__heading--span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading--span--1 {
        background-image: linear-gradient(to right bottom, rgba(248, 190, 138, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--2 {
        background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--3 {
        background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--4 {
        background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--5 {
        background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--6 {
        background-image: linear-gradient(to right bottom, rgba(247, 193, 146, 0.85), rgba(173, 155, 109, 0.85)); }
  .card__details {
    padding: 0 2rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .4rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card__details--back {
      margin-bottom: 2rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem; }
    .card__price-box--price {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .card__price-box--price-value {
      font-size: 5rem;
      font-weight: 100; }

.head {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100; }
  .head__logo img {
    height: 8rem; }
  .head__nav--list {
    list-style: none;
    cursor: pointer; }
    .head__nav--list li {
      display: inline-block; }
    .head__nav--list a {
      margin-right: 4rem;
      text-decoration: none;
      font-size: 2rem;
      transition: all .2s; }
      .head__nav--list a, .head__nav--list a:link, .head__nav--list a:visited {
        color: #ad9b6d; }
      .head__nav--list a:hover {
        color: #555; }

.mainFooter {
  position: absolute;
  background-color: rgba(173, 155, 109, 0.75);
  width: 100%; }
  .mainFooter__logo {
    padding: 1rem 2rem;
    text-align: center; }
  .mainFooter__container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 2rem; }
    .mainFooter__container__item {
      margin: 0 10rem;
      padding: 0 1rem; }
      .mainFooter__container__item--nav-list {
        text-align: center;
        list-style: none; }
        .mainFooter__container__item--nav-list li {
          display: inline-block;
          margin: 0 3rem; }
        .mainFooter__container__item--nav-list a {
          text-decoration: none;
          font-size: 2rem;
          transition: all .2s; }
          .mainFooter__container__item--nav-list a, .mainFooter__container__item--nav-list a:link, .mainFooter__container__item--nav-list a:visited {
            color: #555; }
          .mainFooter__container__item--nav-list a:hover {
            color: #fff; }
      .mainFooter__container__item--nav-links {
        font-size: 2rem;
        text-align: center;
        list-style: none; }
        .mainFooter__container__item--nav-links li {
          display: inline-block;
          margin: 0 3rem; }
        .mainFooter__container__item--nav-links a {
          text-decoration: none;
          font-size: 2rem;
          transition: all .2s; }
          .mainFooter__container__item--nav-links a, .mainFooter__container__item--nav-links a:link, .mainFooter__container__item--nav-links a:visited {
            color: #555; }
          .mainFooter__container__item--nav-links a:hover {
            color: #fff; }
  .mainFooter__origin {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0 1rem; }

.head {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100; }
  .head__logo img {
    height: 8rem; }
  .head__nav--list {
    list-style: none;
    cursor: pointer; }
    .head__nav--list li {
      display: inline-block; }
    .head__nav--list a {
      margin-right: 4rem;
      text-decoration: none;
      font-size: 2rem;
      transition: all .2s; }
      .head__nav--list a, .head__nav--list a:link, .head__nav--list a:visited {
        color: #ad9b6d; }
      .head__nav--list a:hover {
        color: #555; }

.mainContainer {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(252, 251, 250, 0.95) 100%), url(../img/background-images/decorative-1298149_1280.png);
  background-size: cover;
  background-attachment: fixed; }

.about {
  height: 100vh;
  font-size: 1.5rem;
  margin: 6rem 0 1rem;
  padding: 2rem 2rem;
  color: #302c24; }
  .about__container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 3rem 8rem; }
    .about__container--item {
      flex-wrap: wrap;
      padding: 0 1rem; }
  .about__header {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #ad9b6d;
    text-transform: uppercase;
    margin-bottom: 0rem; }
    .about__header:after {
      display: block;
      height: 3px;
      background-color: #ad9b6d;
      content: "";
      width: 8%;
      margin: 0 auto;
      margin-top: .2rem; }
    .about__header--2 {
      text-align: center;
      font-weight: 500;
      font-size: 3rem;
      color: #ad9b6d;
      text-transform: uppercase;
      margin-bottom: 2rem; }
      .about__header--2:after {
        display: block;
        height: 1.5px;
        background-color: #e8be63;
        content: "";
        width: 8%;
        margin: 0 auto;
        margin-top: 1.5rem; }
  .about__content {
    text-align: justify;
    border-radius: 2rem;
    border: 1px solid #ad9b6d;
    padding: 1rem 1rem;
    margin: 2rem .5rem; }
  .about__picture {
    margin-top: 1rem; }
    .about__picture img {
      width: 50rem; }
  .about--btn {
    margin: 2rem 0;
    text-align: center; }

.contact {
  padding: 5rem 0 5rem 0;
  font-size: 1.6rem; }
  .contact__flex-container {
    background-color: bisque;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 5rem;
    padding: 5rem 0; }
    .contact__flex-container--flex-item {
      width: 70%; }
  .contact__map {
    background-color: rgba(234, 172, 117, 0.5);
    width: 60rem;
    height: 35rem; }
  .contact__content {
    text-align: justify; }
    .contact__content--header {
      text-align: center;
      padding: 2rem; }

.home {
  height: 100%;
  z-index: 50; }

.down__nav {
  position: absolute;
  bottom: 0;
  background-color: rgba(173, 155, 109, 0.35);
  width: 100%; }
  .down__nav--list {
    text-align: center;
    list-style: none; }
    .down__nav--list li {
      display: inline-block;
      margin: 0 9rem; }
      .down__nav--list li:last-child {
        margin-bottom: 2rem; }
    .down__nav--list a {
      text-decoration: none;
      font-size: 2rem;
      transition: all .2s; }
      .down__nav--list a, .down__nav--list a:link, .down__nav--list a:visited {
        color: #555; }
      .down__nav--list a:hover {
        color: #fff; }

/* Slideshow container */
.main-slideshow {
  height: 100%;
  /*Slide-Image*/
  /*Numbertext*/ }
  .main-slideshow__slide {
    display: none;
    width: 100%; }
    .main-slideshow__slide--1 {
      background-image: url("../resources/img/woman-1320810_1920-copy.png"); }
    .main-slideshow__slide--2 {
      background-image: url("../resources/img/attractive-beautiful-beauty-638700-cut-3.png"); }
    .main-slideshow__slide--3 {
      background-image: url("../resources/img/woman-660806_1920-copy.jpg"); }
    .main-slideshow__slide img {
      width: 100%; }
    .main-slideshow__slide--text {
      color: #f2f2f2;
      font-size: 50px;
      padding: 8px 12px;
      position: absolute;
      left: 45%;
      top: 50%; }
  .main-slideshow--numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10%; }
  .main-slideshow__dots {
    position: absolute; }
    .main-slideshow__dots--dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }

/* The dots/bullets/indicators */
.active {
  background-color: #717171; }

/* Fading animation */
.fade {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 7s;
  animation-name: fade;
  animation-duration: 7s; }

.test {
  background-repeat: no-repeat;
  margin-top: 4rem;
  height: 100vh;
  background-size: cover; }
  .test__phot {
    height: 100%;
    background-size: cover; }

.offer {
  height: 100vh;
  margin: 6rem 0;
  padding: 1rem 0 5rem 0; }
  .offer .offer__flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center; }
    .offer .offer__flex-container--flex-item {
      padding: 2% 2rem;
      margin: 1rem 1.4rem;
      height: 40rem;
      text-align: center;
      width: 25vw;
      top: 50%; }

.offer__header {
  font-weight: 700;
  font-size: 4rem;
  color: #ad9b6d;
  text-transform: uppercase;
  margin-bottom: 1rem; }
  .offer__header:after {
    display: block;
    height: 3px;
    background-color: #e8be63;
    content: "";
    width: 25%;
    margin: 0 auto;
    margin-top: .5rem; }

.packets {
  font-size: 1.5rem;
  margin: 6rem 0 1rem;
  padding: 2rem 2rem;
  color: #302c24; }
  .packets__container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 2rem .5rem;
    background-color: aqua; }
    .packets__container__item {
      background-color: bisque;
      width: 70%;
      margin: 2rem; }
    .packets__container__item--2 {
      background-color: bisque;
      width: 70rem;
      margin: 2rem; }
      .packets__container__item--2--image {
        position: absolute;
        background-image: url("../resources/img/packets/white-photo-verson-of-the-envelopes-1313361-639x449.jpg"); }
  .packets__content {
    color: #302c24; }
    .packets__content--header {
      color: #ad9b6d; }
  .packets__packageContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 5rem; }
    .packets__packageContainer--header {
      margin: 2rem 0;
      color: #ad9b6d;
      text-align: center; }
    .packets__packageContainer__item {
      background-color: rgba(255, 255, 255, 0.247);
      width: 70%;
      height: 100%;
      margin: 0 2rem;
      padding: 1rem; }
    .packets__packageContainer--list {
      text-align: center;
      list-style: none; }
      .packets__packageContainer--list li {
        border-bottom: 1px solid #ad9b6d; }
        .packets__packageContainer--list li li:last-child {
          border: none; }
        .packets__packageContainer--list li a {
          margin: 1rem 0; }
