/*GRID*/
@keyframes fade {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(252, 251, 250, 0.95) 100%), url(../img/background-images/decorative-1298149_1280.png);
  background-size: cover;
  background-attachment: fixed; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.offer__center-text {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-weight: 500;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--gold {
  background-color: rgba(123, 69, 21, 0.493);
  color: #302c24;
  border: 0.5px solid #fff; }
  .btn--gold::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 41rem;
    transition: all 1.1s ease;
    -webkit-transition: all 1.1s ease;
    -moz-transition: all 1.1s ease;
    -ms-transition: all 1.1s ease;
    -o-transition: all 1.1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(173, 155, 109, 0.15);
    border-radius: 55px; }
    .card__side--picture {
      background-size: cover;
      height: 32rem;
      background-blend-mode: screen;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .card__side--picture--1 {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/massageimage.jpg); }
      .card__side--picture--2 {
        background-image: linear-gradient(to right bottom, black, #ad9b6d), url(../img/offers-images/makeupimage.jpg); }
      .card__side--picture--3 {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(../img/offers-images/laser-treatments.jpg); }
      .card__side--picture--4 {
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.4)), url(../img/offers-images/Cosmetic-spa.jpg); }
      .card__side--picture--5 {
        background-image: linear-gradient(to right bottom, rgba(173, 155, 109, 0.9), rgba(255, 255, 255, 0.5)), url(../img/offers-images/depilation.jpg); }
      .card__side--picture--6 {
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(173, 155, 109, 0.2)), url(../img/offers-images/massageimage-2.jpg); }
    .card__side--front {
      background-color: #ad9b6d;
      background-image: url(./img/offers-images/alan-caishan-cU53ZFBr3lk-unsplash.jpg); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #88784d, #fff); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #fff, #88784d); }
      .card__side--back--4 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
      .card__side--back--5 {
        background-image: linear-gradient(to right bottom, #ad9b6d, #fff); }
      .card__side--back--6 {
        background-image: linear-gradient(to right bottom, #fff, #ad9b6d); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 80%;
    width: 100%; }
    .card__heading--span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading--span--1 {
        background-image: linear-gradient(to right bottom, rgba(248, 190, 138, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--2 {
        background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--3 {
        background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--4 {
        background-image: linear-gradient(to right bottom, rgba(236, 178, 127, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--5 {
        background-image: linear-gradient(to right bottom, rgba(234, 172, 117, 0.85), rgba(173, 155, 109, 0.6)); }
      .card__heading--span--6 {
        background-image: linear-gradient(to right bottom, rgba(247, 193, 146, 0.85), rgba(173, 155, 109, 0.85)); }
  .card__details {
    padding: 0 2rem; }
    .card__details ul {
      list-style: none;
      width: 90%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: .4rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
    .card__details--back {
      margin-bottom: 2rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 1rem; }
    .card__price-box--price {
      font-size: 1.4rem;
      text-transform: uppercase; }
    .card__price-box--price-value {
      font-size: 5rem;
      font-weight: 100; }

.about__flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 3rem 8rem; }
  .about__flex-container--flex-item {
    padding: 0 1rem;
    margin: 0 1rem; }

.offer__flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center; }
  .offer__flex-container--flex-item {
    padding: 2% 2rem;
    margin: 1rem 1.4rem;
    height: 40rem;
    text-align: center;
    width: 25vw;
    top: 50%; }

.contact__flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 3rem 8rem; }
  .contact__flex-container--flex-item {
    padding: 0 1rem;
    margin: 0 1rem; }

.about {
  height: 100vh;
  font-size: 1.5rem;
  margin: 5rem 0;
  padding: 2rem 2rem;
  color: #302c24; }
  .about__header {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    color: #ad9b6d;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    .about__header:after {
      display: block;
      height: 3px;
      background-color: #e8be63;
      content: "";
      width: 8%;
      margin: 0 auto;
      margin-top: .5rem; }
    .about__header--2 {
      text-align: center;
      font-weight: 500;
      font-size: 3rem;
      color: #ad9b6d;
      text-transform: uppercase;
      margin-bottom: 2rem; }
      .about__header--2:after {
        display: block;
        height: 1.5px;
        background-color: #e8be63;
        content: "";
        width: 8%;
        margin: 0 auto;
        margin-top: 1.5rem; }
  .about__content {
    text-align: justify; }
  .about__picture {
    margin-top: 5rem; }
    .about__picture img {
      width: 60rem;
      height: auto; }
  .about--btn {
    margin-top: 2rem;
    text-align: center; }

.contact {
  padding: 5rem 0 5rem 0;
  font-size: 1.6rem; }
  .contact__map {
    background-color: rgba(234, 172, 117, 0.5);
    width: 60rem;
    height: 35rem; }
  .contact__content {
    text-align: justify; }
    .contact__content--header {
      text-align: center;
      padding: 2rem; }

.home {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 18%, rgba(252, 251, 250, 0.7) 10%, rgba(245, 243, 243, 0.9) 5%, rgba(237, 237, 237, 0.4) 12%, rgba(236, 234, 234, 0.17) 7%, rgba(235, 232, 232, 0.17) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }
  .home__primary {
    font-size: 5rem;
    text-align: center;
    color: #ad9b6d;
    margin-bottom: 1.5rem;
    background-color: beige; }
  .home__tertiary {
    text-align: center;
    color: #302c24;
    margin-bottom: 1rem; }
  .home--prev, .home--next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: .home--prev, .home--next bronze-dark;
    background-color: rgba(234, 172, 117, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; }
  .home--next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  .home--prev:hover, .home--next:hover {
    background-color: rgba(148, 130, 92, 0.747); }

.hero {
  position: relative;
  width: min-content;
  width: 95%;
  height: min-content;
  top: 5%;
  left: 5%; }
  .hero:after {
    display: block;
    height: .8px;
    background-color: #ad9b6d;
    content: "";
    width: 94%;
    margin: 2rem 0;
    margin-top: 2.2rem; }
  .hero__logo {
    height: min-content;
    display: inline-block; }
    .hero__logo img {
      height: 8rem; }
  .hero__nav {
    display: inline-block;
    float: right;
    text-align: right;
    margin: 5rem 4rem; }
    .hero__nav--list {
      list-style: none;
      cursor: pointer; }
      .hero__nav--list li {
        display: inline-block;
        margin-bottom: 2rem; }
      .hero__nav--list a {
        margin-right: 4rem;
        text-decoration: none;
        font-size: 2rem;
        transition: all .2s; }
        .hero__nav--list a, .hero__nav--list a:link, .hero__nav--list a:visited {
          color: #ad9b6d; }
        .hero__nav--list a:hover {
          color: #555; }

.down__nav {
  position: absolute;
  margin: 0;
  background-color: rgba(173, 155, 109, 0.35);
  width: min-content;
  top: 87.6vh;
  width: 100%; }
  .down__nav--list {
    text-align: center;
    list-style: none; }
    .down__nav--list li {
      display: inline-block;
      margin: 0 9rem; }
      .down__nav--list li:last-child {
        margin-bottom: 2rem; }
    .down__nav--list a {
      text-decoration: none;
      font-size: 2rem;
      transition: all .2s; }
      .down__nav--list a, .down__nav--list a:link, .down__nav--list a:visited {
        color: #555; }
      .down__nav--list a:hover {
        color: #fff; }

/* Slideshow container */
.main-slideshow {
  width: 98vw;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  /*Slide-Image*/
  /*Numbertext*/ }
  .main-slideshow__slide {
    display: none;
    position: relative; }
    .main-slideshow__slide img {
      vertical-align: middle; }
    .main-slideshow__slide--text {
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      font-size: 60px;
      text-align: center;
      margin: 25% 0;
      color: aqua; }
  .main-slideshow--numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10%; }
    .main-slideshow--numbertext__dots {
      text-align: center;
      position: absolute; }

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active {
  background-color: #717171; }

/* Fading animation */
.fade {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 7s;
  animation-name: fade;
  animation-duration: 7s; }

.offer {
  min-height: 100vh;
  padding: 1rem 0 5rem 0; }

.offer__header {
  font-weight: 700;
  font-size: 4rem;
  color: #ad9b6d;
  text-transform: uppercase;
  margin-bottom: 1rem; }
  .offer__header:after {
    display: block;
    height: 3px;
    background-color: #e8be63;
    content: "";
    width: 25%;
    margin: 0 auto;
    margin-top: .5rem; }
