//Move in

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {

        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLogo {
  0% {
      opacity: 0;
      transform: translateX(-12rem);
  }

  80% {

      transform: translateX(.8rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {

        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

//Fade
  
 @keyframes fade {
    0% { opacity: .1;}
  50% { opacity: 1;}
  }

  @-webkit-keyframes fade {
    0% { opacity: .1;}
  50% { opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: .1;}
    to {opacity:1}
  
  }

  @-webkit-keyframes fadeIn {
      from { opacity: .1;}
    to { opacity: 1;}
    }


  
//Focus
  @keyframes focus-in-expand{
    0%{letter-spacing:-.5em;filter:blur(12px);opacity:0}
  100%{filter:blur(0);opacity:1}
}

//Pulsate

@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  