*,
*::after,
*::before {

    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
<<<<<<< HEAD
 
=======
>>>>>>> c7aeb3964fdb893b982ad77a0775fa29b6477a39
}