//! TO JEST BŁĄD I ROBI CI PROBLEMY!!!!!!!!! Typography jest do textów,
// rozpisz sobie do czego każdy folder śłuży bo masz źle pliki w 
// architekturze poukładane,
// 2. FORMATUJ KOD BO GUBISZ SIĘ, NIe kopiuj tylko przepisuj bo później kwiatki wychodzą.

.header__primary {
font-size: 5rem;
text-align: center;
color: $gold;
margin-bottom: 1.5rem;
background-color: beige;

}

.header__tertiary {
    text-align: center;
    color: $bronze-dark;
    margin-bottom: 1rem;
}

.section-offer__header {
    font-weight: 700;
    font-size: 4rem;
    color: $gold;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &:after {
            display: block;
            height: 3px;
            background-color: $second_gold;
            content: "";
            width: 25%;
            margin: 0 auto;
            margin-top: .5rem; 
    }
}

