.u-center-text {   text-align: center; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-top-big { margin-top: 8rem;}

.u-margin-top-default { margin: 6rem 0 3rem};
.u-margin-side {};
//OFFER Section
.offer__center-text {   text-align: center; }


//Borders

.border_radius {

    border-radius: 2rem;
    padding: .5rem;
    border: 1px solid $gold;

    &--price {

        padding: .5rem;
        border: 2px solid $gold;
    }
    
}

.article {

    margin: 1rem 0 1rem;
    padding: 0rem;
    color: $color-grey-dark-2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
    margin-bottom: 5rem;
   
    @include respond(phone) {
        grid-template-columns: none;
        grid-gap: none;
        margin-bottom: 1rem;
        padding: 0 .7rem;
    }

    &__header {
        color: $gold;
        text-align: left;

        &--2 {
            text-align: center;
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0;
            
        }
    }
    &:nth-child(odd) .article__content {
        grid-column: 2;

        @include respond(phone) {
            grid-column: none;

        }
    }

    &:nth-child(even) .article__content {
        grid-column: 1;

        @include respond(phone) {
            grid-column: none;

        }
    }
}


.price {

    font-weight: 700;
    font-size: 2.3rem;
    color: $gold;
    display: inline-block;
    float: right;
    @include respond(tab-list) {
        word-spacing: -2px;
        letter-spacing: -1px;
        
    }
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &:hover {

    }

    &-facebook2 {

        width: 1.2em;
        height: 1.2em;


        &--down {

            width: 2.1rem;
            height: 2.1rem;
            fill: $color-grey-dark-2;
            margin-top: 1rem;
            &:hover {
                fill:#3b5998
        
                }

        }
        &:hover {
        fill:#3b5998

        }
    }


  

  }