.about {

    height: 100vh;
    font-size: 1.5rem;
    margin: 6rem 0;
    padding: 2rem 2rem;
    color: $bronze-dark;

    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 4rem;
        color: $gold;
        text-transform: uppercase;
        margin-bottom: 1rem;

        &:after {
            display: block;
            height: 3px;
            background-color: $second_gold;
            content: "";
            width: 8%;
            margin: 0 auto;
            margin-top: .5rem;

        }

        &--2 {
            text-align: center;
            font-weight: 500;
            font-size: 3rem;
            color: $gold;
            text-transform: uppercase;
            margin-bottom: 2rem;

            &:after {
                display: block;
                height: 1.5px;
                background-color: $second_gold;
                content: "";
                width: 8%;
                margin: 0 auto;
                margin-top: 1.5rem;

            }


        }
    }

    &__content {

        text-align: justify;

    }

    &__picture {

        margin-top: 5rem;

        img {

            width: 60rem;
            height: auto;
        }
    }


    &--btn {
        margin-top: 2rem;
        text-align: center;
    }

    &__flex-container {

        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 3rem 8rem;

        &--flex-item {

            padding: 0 1rem;
            margin: 0 1rem;
        }

    }

}