.contact {

    &__flex-container {
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-around;
        justify-content:space-around;
        align-items: center;
        margin: 7rem 6rem;
        padding: 5rem 0 5rem 0;
         font-size: 1.6rem;
            &--flex-item {
           width: 60%;
                padding: 0 1rem;
                &-2 {

                }
              }

           
        }    

    


    &__map {
        background-color: $bronze;
        margin: auto;
        width: 50rem;
        height: 35rem;
        
    }

    &__content {
      text-align: justify;
     
        &--header {
            text-align: center;
            padding: 2rem;
        }
    }
}

