// Można było też zrobić HOME, HOME__BOX, HOME__BOX--logo itd...
.home {


    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.95) 18%, rgba(252, 251, 250, 0.7) 10%, rgba(245, 243, 243, 0.9) 5%, rgba(237,237,237,0.4) 12%, rgba(236,234,234,0.17) 7%, rgba(235,232,232,0.17) 100%),url(../img/attractive-beautiful-beauty-638700-cut-3.png);
    // background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(pexels-photo-814499-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    //margin-bottom: 5rem;

    &__primary {
        font-size: 5rem;
        text-align: center;
        color: $gold;
        margin-bottom: 1.5rem;
        background-color: beige;

        }

        &__tertiary {
            text-align: center;
            color: $bronze-dark;
            margin-bottom: 1rem;
        }

}

.hero {
    position: relative;
    width: min-content;
    width: 95%;
    height: min-content;
    top: 5%;
    left: 5%;

    &:after {
        display: block;
        height: .8px;
        background-color: $gold;
        content: "";
        width: 94%;
        margin: 2rem 0;
        margin-top: 2.2rem;

    }

    &__logo {
        height: min-content;
        display: inline-block;

        img {
            height: 8rem;
        }
    }

    &__nav {
        display: inline-block;
        float: right;
        text-align: right;
        margin: 5rem 4rem;
     

        &--list {
            list-style: none;
            cursor: pointer;

            li {
                display: inline-block;
                margin-bottom: 2rem;
            }

            a {
                margin-right: 4rem;
                text-decoration: none;
                font-size: 2rem;
                transition: all .2s;

                &,
                &:link,
                &:visited {
                    color: $gold;
                }

                &:hover {
                    color: $color-grey-dark-2;
                }
            }
        }
    }

}

// to lepiej żeby był footer!!
.down__nav {

    // margin: 77.5vh 0; //Powiedz czy taki sposób "przyklejenia" nav może być <-- BŁĄD!!
    // bottom: 0;
    
    // width:min-content; // DRY!
    width: 100%;
    background-color: rgba($gold, .35);
    //height: 100%;

    &--list {
        text-align: center;
        list-style: none;

        li {

            display: inline-block;
            margin:0 9rem;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        a {
            text-decoration: none;
            font-size: 2rem;
            transition: all .2s;

            &,
            &:link,
            &:visited {
                color: $color-grey-dark-2;
            }

            &:hover {
                color: $color-white;
            }
        }


    }

}