.section-offer {

    min-height: 100vh;
    background-color: $color-grey-light-1;
    padding: 1rem 0 1rem 0;

}

.section-offer__2 {

    height: 95vh;
    background-color: $color-grey-light-1;
    padding: 0 0 1rem 0;

}