.offer {

    height: 100vh;
    margin: 6rem 0;
    padding: 1rem 0 5rem 0;

    .offer__flex-container {
        display:-webkit-flex;
        display:flex;
        -webkit-justify-content:space-around;
        justify-content:space-around;
        -webkit-align-items:center;
        align-items:center;
        -webkit-align-content:center;
        align-content:center;
        margin: 0rem 5rem;
        background-color: aqua;
    
        &--flex-item {
            padding: 2%;
            margin: .5rem 2rem;
            height: 40rem;
            text-align: center;
            width: 25vw;
            top: 50%;
            
        }
    }
}

.offer__header {
    font-weight: 700;
    font-size: 4rem;
    color: $gold;
    text-transform: uppercase;

    &:after {
            display: block;
            height: 3px;
            background-color: $second_gold;
            content: "";
            width: 25%;
            margin: 0 auto;
            margin-top: .5rem; 
    }
}