@mixin hamburger-line {
    width: 100%;
    height: .35rem;
    background-color: $gold;
    position: absolute;
    
    @include respond(phone) {


      height: .4rem;
     // width: 85%;
      background-color: $color-white;
    }
  }


  //Media query manager

  /*
  >=600 phone
  601-900 Tablet
  901-1200 tabletlandscape
1201-1800 desktop
  1800+ bigger desktop
  

breakpint agrument
- phone
-tab-port
-tab-land
-descktop
-largedesktop

ORDER: Base + typograpty > layout >prices and offers > components

*/

//1em = 16px;
@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media (max-width: 30em) { @content }; //600px

  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }

  @if $breakpoint == tab-small {
    @media (max-width: 42em) { @content }; //<1200
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; //<1200
  }

  @if $breakpoint == offer-break {
    @media (max-width: 62.50em) { @content };

  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };
  }
  
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };
  }

}