.aestheticMedicine {
    font-size: 1.6rem;
    margin: 4rem 0rem 1rem;
    padding: 2rem 2rem;

    &__header {

        color: $gold-darker;
        margin-bottom: 2rem;
        font-size: 3rem;

        &--2 {
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0;
            

        }
    }
}



.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

    &--list {
        padding: 2rem;
        list-style: square;

        li {
           padding: .2rem;
        }


        &--2 {
            text-align: center;

        }
    }

    &--aesthetic {

        padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: left;
   

    a {
        text-decoration: none;
        color: $gold;

        &:hover,
        &:active,
        &:after {

        }
    }

    } 

}

