.depilation {
    font-size: 1.6rem;
    margin: 3rem 0 1rem;
    padding: 2rem 3rem;
    color: $bronze-dark;

    &__header {

        color: $gold-darker;
        margin-bottom: 2rem;
        margin-right: 2%;
        font-size: 3rem;

        &--2 {
            animation: moveInLeft 1s ease;
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0;
            

        }

        &--3 {
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0 0rem;
            

        }
    }

    &__image {
        margin: auto;
        width: 31rem;
        height: 8rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 3rem;
        margin-top: 3rem;
        
        &--1 {

            background-image: radial-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(/resources/img/offers-images/offer-logos/Thalgo_logo_logotype.png);

        }

        &--2 {

            background-image: radial-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(/resources/img/offers-images/offer-logos/images.png);

        }

        &--3 {

            background-image: radial-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(/resources/img/offers-images/offer-logos/intraceuticals_logo.png);

        }

        &--4 {

            background-image: radial-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(/resources/img/offers-images/offer-logos/Purles-logo.jpg);

        }

        &--5 {

            background-image: radial-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0)), url(/resources/img/offers-images/offer-logos/1280px-Ella_Baché_logo.svg.png);

        }


    }

    &__content {
        display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            align-items: stretch;
            margin: 0 5rem;
            padding: 2rem 0;
        
        &__end {
            text-align: justify;
            margin: 5rem 2rem;
            display: inline-block;
        }
    
        &--img {
            animation: moveInBotom 1.2s ease;
            margin: 2rem 3rem;
            width: 50rem;
            height: 25rem;
            background-position: center;
            background-size: cover;
            background-image: url(/resources/img/offers-images/depilation.jpg);
            display: inline-block;

           
        }
    }
    

}

.article {

    
    margin: 1rem 0 1rem;
    padding: 0rem 2rem;
    color: $color-grey-dark-2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
    margin-bottom: 5rem;
   
    &__header {
        text-transform: uppercase;
        text-align: left;
        color: $gold;
    }
    &:nth-child(odd) .article__content {
        grid-column: 2;

    }

    &:nth-child(even) .article__content {
        grid-column: 1;

    }
}

.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
    
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

    &--list {
        padding: 2rem;
        list-style: square;

       
        li {
           padding: .2rem  0;

        }

        &--2 {
            
            color: $gold-darker;
          
        
            li {
                text-align:center;
                list-style: square;
  
            }
        
            
        }
    }

   

    &--depilation {

        margin: auto;
    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    } 

}





