.makeup {
    font-size: 1.6rem;
    margin: 4rem 0 1rem;
    padding: 2rem 3rem;

    &__header {

       color: $gold;
        margin-bottom: 2rem;
        margin-right: 2%;
        font-size: 3rem;
        text-align: center;
        &--2 {

            animation: moveInBottom .9s ease;
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0;
            text-align: center;

        }

        &--3 {
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0 0rem;
            

        }
    }

   

    &__content {
        display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            align-items: stretch;
            margin: 0 0rem;
            padding: 2rem 0;
        
        &__end {
            text-align: justify;
            margin: 5rem 2rem;
            display: inline-block;
        }
    
        &--img {

            animation: moveInLeft 1s ease-in-out;
            margin: 2rem 2rem;
            width: 50rem;
            height: 25rem;
            background-position: center;
            background-size: cover;
            background-image: url(../img/offers-images/woman-660806_1920-copy.jpg);
            display: inline-block;

            @include respond(phone) {

                display: none;
            }

            &--2 {
                
            animation: moveInRight 1s ease-in-out;
                margin: 2rem 2rem;
                width: 50rem;
                height: 25rem;
                background-position: center;
                background-size: cover;
                background-image: url(../img/offers-images/manicure-870857_640.jpg);
                display: inline-block;

                @include respond(phone) {
                    animation: moveInBottom 1s ease-in-out;
                    margin: 2rem -2rem 2rem -2rem;
                    width: 35rem;
                    height: 25rem;
        
                   }
            }
        }
    }

}

.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
    
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

    &--list {
        padding: 2rem;
        list-style: square;

       
        li {
           padding: .2rem  0;

        }

        &--2 {
            
            color: $gold-darker;
          
        
            li {
                text-align:center;
                list-style: square;
  
            }
        
            
        }
    }

   

    &--makeup {

        margin: auto;
    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    } 

}





