.massage {
    font-size: 1.6rem;
    margin: 4rem 0rem 1rem;
    padding: 2rem 3rem;
   

    &__header {

        color: $gold;
        margin-bottom: 2rem;
        margin-right: 2%;
        text-align: center;
        &--2 {
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0 0;
            animation: moveInBottom 1s ease-in-out;
            text-align: center;

        }
    }


    & .price {

        @include respond(phone) {

            
        }
    }

   

    &__content {
        display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            align-items: stretch;
            margin: 0 5rem;
            padding: 2rem 0;
        
        &__end {
            text-align: justify;
            margin: 5rem 2rem;
            display: inline-block;
        }
    
        &--img {
           
            margin: 1.5rem auto;
            width: 70rem;
            height: 30rem;
            background-position: center;
            background-size: cover;
            background-image: url(../img/offers-images/massageimage-2-small.jpg);
            display: block;


            @include respond(tab-port) {

                width: 65rem;
            }
            @include respond(tab-small) {
                width:60rem;
            }

            @include respond(phone) {

                display: none;
            }
            
      animation: moveInLeft 1s ease-in-out;
        }
    }
    

}


.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
    
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

    &--list {
        padding: 2rem;
        list-style: none;

        li {
           padding: .2rem  0;

        }
    }

    &--massages {

        margin: auto;
    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    } 

}


