.trychology {
    font-size: 1.6rem;
    margin: 3rem 0 1rem;
    padding: 2rem 3rem;

    &__header {

       
        color: $gold;
        margin-bottom: 2rem;
        margin-right: 2%;
        animation: moveInRight 1s ease-out;
        text-align: center;
        &--2 {
            animation: moveInBottom 0.9s ease-in-out;
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0;
            text-align: center;

        }

        &--3 {
            color: $gold;
            font-size: 3rem;
            margin: 3rem 0 0rem;
            text-align: center;

        }
    }

   

    &__content {
        display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            align-items: stretch;
            margin: 0 5rem;
            padding: 2rem 0;
        
        &__end {
            text-align: justify;
            margin: 5rem 2rem;
            display: inline-block;
        }
    
        &--img {
            animation: moveInBottom 1.2s ease-in;
            
            width: 50rem;
            height: 30rem;
            margin: 1rem auto;
            background-position: center;
            background-size: cover;
            background-image: url(/resources/img/offers-images/laser-treatments.jpg);
            display: block;

            @include respond(tab-port) {
                width: 40rem;
                height: 35rem;

            }

            @include respond(phone) {
                width: 35rem;
                height: 20rem;
    
               }
        }
    }

    iframe {
        width: 70rem;
        height: 42rem;
        margin: 0 auto;
        display: block;

    @include respond(phone) {
    width: 90%;
    }
}
}

.article__content {

    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
   

    &::before {
    
        z-index: -1;
        font-weight: bold;
        position: absolute;
        font-size: 35rem;
        top: -20%;
        color: black;

        

    }

    &--list {
        padding: 2rem;
        list-style: square;

       
        li {
           padding: .2rem  0;

        }

        &--2 {
            
            color: $gold-darker;
          
        
            li {
                text-align:center;
                list-style: square;
  
            }
        
            
        }
    }

   

    &--trychology {

        margin: auto;
    padding: 1.5rem;
    font-size: 1.8rem;
    position: relative;
    text-align: justify;
    } 

}



